{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 60",
            "Firefox >= 60",
            "Safari >= 12",
            "Edge >= 79"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src",
          "./"
        ]
      }
    ]
  ]
}